* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: black;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    min-height: 100vh;
    background: #537CED;
    background: linear-gradient(135deg, #bfdbfe 0%, #93c5fd 50%, #dbeafe 100%);
    padding: 2rem;
}